*.o
*.u
*.z
*.gcda
*.gba
gpsp.gpe
tags
cscope.out
pandora/linux
miyoo/gpsp.lnk
miyoo/gpsp
miyoo/assets/game_config.txt
miyoo/assets/border*
miyoo/package
miyoo/*.zip
miyoo/*.ipk
x86/*.txt
x86/*.cfg
x86/gpsp