Package: gpsp
Version: 1.2.2
Source: https://github.com/Apaczer/gpsp
License: GPL-2.0
Description: GameBoy Advance emulator with dynarec
Section: emulators
Priority: optional
Maintainer: Apaczer
Architecture: arm
